# Set default behaviour to automatically normalize line endings.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
